body {
    background-color: var(--bg-color);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --text-color: #c4c4c4;
    --bg-color: #191B1CFF;
    --lighter-bg: #2b2e2f;
    --icon-bg: #E5E7EB;
    --cool-red: rgba(179, 30, 41);
}

#container {
    display: grid;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    /*grid-template-columns: 200px 400px;*/
    /*grid-template-rows: 100px 500px;*/
}

/* SIDEBAR */

.logo {
    display: flex;
    grid-row: 1/2;
    padding: 20px 10px 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: var(--icon-bg);
    color: black;
}

.logo-icon {
    height: 64px;
    width: auto;
}

.sidebar {
    display: grid;
    grid-template-rows: 0.7fr 3.5fr 2.5fr;
    grid-row: 1/3;
    background-color: var(--bg-color);
    color: var(--text-color);
    gap: 60px;
    outline: 1px solid var(--text-color);
}

.first-part {
    display: grid;
    grid-row: 2/3;
    gap: 10px;
}

.second-part {
    display: grid;
    grid-row: 3/4;
    gap: 10px;
}

.icon {
    background-color: var(--icon-bg);
    padding: 5px;
    border-radius: 5px;
    height: 24px;
    width: auto;
    cursor: pointer;
}

.first-part li,
.second-part li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
}

.first-part li:hover,
.second-part li:hover {
    color: white;
}

.first-part img,
.second-part img {
    height: 24px;
    width: auto;
}

/* HEADER */

.header {
    display: grid;
    gap: 20px;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-rows: 0.4fr 0.6fr;
    outline: 1px solid var(--text-color);
    color: var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2rem;
}

.bar {
    background-color: var(--icon-bg);
    border-radius: 20px;
    width: 80%;
    height: 100%;
}

.header-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 4rem;
}

.header-profile {
    display: flex;
    gap: 20px;
    grid-column: 1 / 2;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
}

.user-info {
    font-size: 30px;
    text-shadow: 1px 1px rgba(229, 231, 235, 0.24);
}

.pfp {
    height: 64px;
    width: auto;
}

.header-actions {
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    align-items: center;
}

.header-actions button {
    margin: 0 10px;
    padding: 10px 40px;
    border-radius: 34px;
}

/* MAIN CONTENT */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: var(--text-color);
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1rem;
    gap: 1rem;
}

.projects-title {
    grid-column: 1 / -1;
    font-size: 24px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid var(--cool-red);
    background-color: var(--lighter-bg);
    box-shadow: 0 4px rgba(73, 73, 73, 0.25);
}

.card-actions {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    gap: 15px;
}

button {
    cursor: pointer;
}

.side-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lighter-bg);
    box-shadow: 0 4px rgba(73, 73, 73, 0.25);
    gap: 20px;
}

.horizontal-line {
    height: 1px;
    border-bottom: 1px solid rgb(151, 151, 151);
    width: 90%;
    margin: auto;
}

.announcements {
    display: grid;
    grid-template-rows: 2rem;
    margin-right: 2rem;
}

.announcements-title {
    font-size: 24px;
}

.ann-title {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
}

.trending {
    display: grid;
    grid-template-rows: 2rem;
    margin-right: 2rem;
}

.trending-title {
    font-size: 24px;
}

.trend {
    display: flex;
    gap: 10px;
    align-items: center;
}

.trend .icon {
    height: 32px;
    width: auto;
}

.projects,
.announcements,
.trending {
    padding: 20px 20px 20px 20px;
}